@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  --primary-color: #F5B800;
  --secondary-color: #FAECF6;
  --accent1-color: #F1DE97;
  --accent2-color: #E9D5BD;

  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;
  --headline-color-on-white: black;  
  --headline-color-on-color: #FAECF6; 
  --paragraph-color-on-white: black;  
  --paragraph-color-on-color: #FAECF6; 
  --paragraph-background-color: black;
  --nav-link-color: #005aff;
  --nav-background-color: #F5B800;
  --nav-hover-link-color: #E7C24F;
  --nav-hover-background-color: #396E94;
}


html {
  background-color: var(--primary-color);
}
body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  font-family: Arial;
  font-weight: bolder;
  text-align: center;

}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: rgb(186, 185, 185);
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: #F5B800;
}
.secondary {
  background-color: #FAECF6;
}
.accent1 {
  background-color: #F1DE97;
}
.accent2{
  background-color: #E9D5BD;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}


.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #999;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #999;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #999;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

h1 {
  font-size: 92px;
  background-color: #ff8c00;
}

.homeImages {
  display: inline;
  padding: 10px;
}

.wireframeImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
